.Rproj.user
.Rhistory
.RData
.Ruserdata
old/AllRegion.RData
old/assessmentPlotsFMWT.RData
old/combinedFMWT.gif
old/compareRegions.R
old/comparisonRegion.RData
old/FMWT 1967-2022 Catch Matrix_updated_tidy.csv
old/FMWT Combined 2021-2022 Catch Matrix.xlsx
old/FMWT.RData
old/FMWTRegionMain.RData
old/FMWTRegions.RData
old/models.R
old/modelsSS.R
old/plot_zoom_png.png
old/Rplot.png
old/SS_Station.RData
old/SSRegionMain.RData
old/SSRegions.RData
old/surveyDistributionFMWT2022.gif
old/surveyDistributionFMWT2022_space.gif
doc/edaWriteup.html
